<app-loadscreen></app-loadscreen>

<div class="container-fluid" *ngIf="patient">
  <div class="row jumbotron">
    <div class="container nop dashboard-header flex-center-middle flex-column">
      <h2>Личный кабинет</h2>
      <div class="row" style="width: 100%">
        <div class="col-xs-12 col-sm-6">
          <h3>Информация</h3>
          <dl class="list-unstyled dl-horizontal">
            <dt>Имя</dt>
            <dd>{{patient.firstName}}</dd>
            <dt>Фамилия</dt>
            <dd>{{patient.lastName}}</dd>
            <dt>Пол</dt>
            <dd>{{patient.gender}}</dd>
            <dt>Дата рождения</dt>
            <dd>{{dateString(patient.birthDate)}}</dd>
            <dt>Мобильный номер</dt>
            <dd>{{patient.mobileNumber}}</dd>
            <dt>Домашний телефон</dt>
            <dd>{{patient.homeNumber}}</dd>
          </dl>
        </div>
        <div class="col-xs-12 col-sm-6 flex-center-middle flex-column header-actions">
          <h3>Действия</h3>
          <div class="form-group">
            <button class="btn btn-primary form-control" (click)="showInfo()">Доп. информация</button>
          </div>
          <div class="form-group">
            <button class="btn btn-primary form-control" (click)="showEdit()">Редактировать</button>
          </div>
          <hr>
          <div class="form-group">
            <button class="btn btn-primary form-control">Запись на процедуру</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-wrapper wrapper-info flex"
     style="display: none"
     (click)="hideWrapper($event)"
     *ngIf="patient">
  <div class="form jumbotron col-xs-12 col-sm-8 col-md-6 col-lg-4">
    <div class="form-header">
      <h3>Подробная информация</h3>
    </div>
    <div class="form-body">
      <dl class="list-unstyled dl-horizontal">
        <dt>Рост</dt>
        <dd>{{patient.details.height}}</dd>
        <dt>Вес</dt>
        <dd>{{patient.details.weight}}</dd>
        <dt>Индекс массы тела</dt>
        <dd>{{patient.details.bmi}}</dd>
        <dt>Тип крови</dt>
        <dd>{{patient.details.bloodType}}</dd>
        <dt>Резус-фактор</dt>
        <dd>{{patient.details.rhesusFactor}}</dd>
        <dt>Степень инвалидности</dt>
        <dd>{{patient.details.degreeOfDisability}}</dd>
      </dl>
    </div>
    <div class="form-footer flex-center-middle">
      <button type="button" class="btn btn-default" (click)="hideWrapper($event)">Назад</button>
    </div>
  </div>
</div>

<div class="form-wrapper wrapper-edit flex"
     style="display: none"
     (click)="hideWrapper($event)"
     *ngIf="patient">
  <form (submit)="editProfile(profileEditForm.value, $event)"
        [formGroup]="profileEditForm"
        class="form jumbotron col-xs-12 col-sm-8 col-md-6 col-lg-4"
        ngNativeValidate>
    <div class="form-header">
      <h3>Редактировать профиль</h3>
    </div>
    <div class="form-body">
      <div class="form-group">
        <label for="mobileNumber" class="control-label">Мобильный телефон</label>
        <input type="tel"
               pattern="^([+]\d{1,4})?\d{6,10}$"
               id="mobileNumber"
               formControlName="mobileNumber"
               class="form-control"
               placeholder="+37500112233"
               required>
      </div>
      <div class="form-group">
        <label for="homeNumber" class="control-label">Домашний телефон</label>
        <input type="tel"
               pattern="^\d{6,10}$"
               id="homeNumber"
               formControlName="homeNumber"
               class="form-control"
               placeholder="712690"
               required>
      </div>
    </div>
    <div class="form-footer flex-center-middle">
      <button type="button" class="btn btn-default" (click)="hideWrapper($event)">Назад</button>
      <button type="submit" class="btn btn-primary mleft20">Сохранить</button>
    </div>
  </form>
</div>

<div class="container history" *ngIf="patient">
  <h2>Просмотр</h2>
  <div>
    <ul class="nav nav-tabs tabs">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab"
           href="#diseases" (click)="getDiseases()">История болезней</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab"
           href="#leaves" (click)="getLeaves()">Справки</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab"
           href="#mds" (click)="getMds()">Врачи</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab"
           href="#procedures" (click)="getProcedures()">Процедуры</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab"
           href="#recipes" (click)="getRecipes()">Рецепты</a>
      </li>
    </ul>
    <div class="tab-content mtop40">
      <div class="tab-pane fade" id="diseases">
        <p class="no-content" *ngIf="diseases.length == 0">
          Список болезней пуст...
        </p>
        <div *ngIf="diseases.length > 0" class="tab-grid">
          <div *ngFor="let disease of diseases; let i = index"
               class="tab-grid-item col-xs-12 col-sm-6 col-md-4">
            <div>
              <h3>{{i + 1}}. {{disease.diseaseName}}</h3>
              <p><strong>Начало:</strong></p>
              <p>{{dateString(disease.startDate)}}</p>
              <p><strong>Конец:</strong></p>
              <p>{{dateString(disease.endDate)}}</p>
              <a routerLink="/dashboard">
                {{disease.patient.firstName}} {{disease.patient.lastName}}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="leaves">
        <p class="no-content" *ngIf="leaves.length == 0">
          Вы пока не получали справок...
        </p>
      </div>
      <div class="tab-pane fade" id="mds">
        <p class="no-content" *ngIf="doctors.length == 0">
          Вы пока не записаны ни у одного врача...
        </p>
      </div>
      <div class="tab-pane fade" id="procedures">
        <p class="no-content" *ngIf="procedures.length == 0">
          Список пройденных процедур пуст...
        </p>
        <div *ngIf="procedures.length > 0" class="tab-grid">
          <div *ngFor="let procedure of procedures; let i = index"
               class="tab-grid-item col-xs-12 col-sm-6 col-md-4">
            <div>
              <h3>{{i + 1}}. {{procedure.name}}</h3>
              <p>{{dateString(procedure.date)}}</p>
              <a routerLink="/dashboard">
                {{procedure.patient.firstName}} {{procedure.patient.lastName}}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="recipes">
        <p class="no-content" *ngIf="recipes.length == 0">
          Вы пока не получали рецепты от врачей...
        </p>
      </div>
    </div>
  </div>
</div>
