<div class="container-fluid" *ngIf="patient">
  <div class="row jumbotron">
    <div class="container nop dashboard-header flex-center-middle flex-column">
      <h2>Личный кабинет</h2>
      <div class="row" style="width: 100%">
        <div class="col-xs-12 col-sm-6">
          <h3>Информация</h3>
          <dl class="list-unstyled dl-horizontal">
            <dt>Имя</dt>
            <dd>{{patient.firstName}}</dd>
            <dt>Фамилия</dt>
            <dd>{{patient.lastName}}</dd>
            <dt>Пол</dt>
            <dd>{{patient.gender}}</dd>
            <dt>Дата рождения</dt>
            <dd>{{dateString(patient.birthDate)}}</dd>
            <dt>Мобильный номер</dt>
            <dd>{{patient.mobileNumber}}</dd>
            <dt>Домашний телефон</dt>
            <dd>{{patient.homeNumber}}</dd>
          </dl>
        </div>
        <div class="col-xs-12 col-sm-6 flex-center-middle flex-column header-actions">
          <h3>Действия</h3>
          <div class="form-group">
            <button class="btn btn-primary form-control" (click)="showInfo()">Доп. информация</button>
          </div>
          <div class="form-group">
            <button class="btn btn-primary form-control" (click)="showEdit()">Редактировать</button>
          </div>
          <hr>
          <div class="form-group">
            <button class="btn btn-success form-control"
                    (click)="showAddProcedure()">Запись на процедуру</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-wrapper wrapper-info flex"
     style="display: none"
     (click)="hideWrapper($event)"
     *ngIf="patient">
  <div class="form jumbotron col-xs-12 col-sm-8 col-md-6 col-lg-4">
    <div class="form-header">
      <h3>Подробная информация</h3>
    </div>
    <div class="form-body">
      <dl class="list-unstyled dl-horizontal">
        <dt>Рост</dt>
        <dd>{{patient.details.height}}</dd>
        <dt>Вес</dt>
        <dd>{{patient.details.weight}}</dd>
        <dt>Индекс массы тела</dt>
        <dd>{{patient.details.bmi}}</dd>
        <dt>Тип крови</dt>
        <dd>{{patient.details.bloodType}}</dd>
        <dt>Резус-фактор</dt>
        <dd>{{patient.details.rhesusFactor}}</dd>
        <dt>Степень инвалидности</dt>
        <dd>{{patient.details.degreeOfDisability}}</dd>
      </dl>
    </div>
    <div class="form-footer flex-center-middle">
      <button type="button" class="btn btn-default" (click)="hideWrapper($event)">Назад</button>
    </div>
  </div>
</div>

<div class="form-wrapper wrapper-edit flex"
     style="display: none"
     (click)="hideWrapper($event)"
     *ngIf="patient">
  <form (submit)="editProfile(profileEditForm.value)"
        [formGroup]="profileEditForm"
        class="form jumbotron col-xs-12 col-sm-8 col-md-6 col-lg-4"
        ngNativeValidate>
    <div class="form-header">
      <h3>Редактировать профиль</h3>
    </div>
    <div class="form-body">
      <div class="form-group">
        <label for="mobileNumber" class="control-label">Мобильный телефон</label>
        <input type="tel"
               pattern="^([+]\d{1,4})?\d{6,10}$"
               id="mobileNumber"
               formControlName="mobileNumber"
               class="form-control"
               placeholder="+37500112233">
      </div>
      <div class="form-group">
        <label for="homeNumber" class="control-label">Домашний телефон</label>
        <input type="tel"
               pattern="^\d{6,10}$"
               id="homeNumber"
               formControlName="homeNumber"
               class="form-control"
               placeholder="712690">
      </div>
    </div>
    <div class="form-footer flex-center-middle">
      <button type="button" class="btn btn-default" (click)="hideWrapper($event)">Назад</button>
      <button type="submit" class="btn btn-success mleft20">Сохранить</button>
    </div>
  </form>
</div>

<div class="form-wrapper wrapper-add-procedure flex"
     style="display: none"
     (click)="hideWrapper($event)">
  <form (submit)="addProcedure(procedureAddForm.value)"
        [formGroup]="procedureAddForm"
        class="form jumbotron col-xs-12 col-sm-8 col-md-6 col-lg-4"
        ngNativeValidate>
    <div class="form-header">
      <h3>Запись на процедуру</h3>
    </div>
    <div class="form-body">
      <div class="form-group">
        <label for="prName" class="control-label">Введите название процедуры</label>
        <input type="text" id="prName" formControlName="name" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="prDate" class="control-label">Выберите время</label>
        <input type="datetime-local" id="prDate" formControlName="date" class="form-control" required>
      </div>
    </div>
    <div class="form-footer flex-center-middle">
      <button type="button" class="btn btn-default" (click)="hideWrapper($event)">Назад</button>
      <button type="submit" class="btn btn-primary mleft20">Принять</button>
    </div>
  </form>
</div>

<div class="form-wrapper wrapper-add-disease flex"
     style="display: none"
     (click)="hideWrapper($event)">
  <form (submit)="addDisease(diseaseAddForm.value)"
        [formGroup]="diseaseAddForm"
        class="form jumbotron col-xs-12 col-sm-8 col-md-6 col-lg-4"
        ngNativeValidate>
    <div class="form-header">
      <h3>Добавить болезнь</h3>
    </div>
    <div class="form-body">
      <div class="form-group">
        <label class="control-label">Название болезни</label>
        <input type="text"
               formControlName="diseaseName"
               class="form-control"
               required>
      </div>
      <div class="form-group">
        <label class="control-label">Описание болезни</label>
        <input type="text"
               formControlName="diseaseDescription"
               class="form-control"
               required>
      </div>
      <div class="form-group">
        <label class="control-label">Код болезни</label>
        <input type="text"
               formControlName="diseaseCode"
               class="form-control"
               required>
      </div>
      <div class="form-group">
        <label class="control-label">Класс болезни</label>
        <input type="text"
               formControlName="diseaseClass"
               class="form-control"
               required>
      </div>
      <div class="form-group">
        <label class="control-label">Дата начала</label>
        <input type="date"
               formControlName="startDate"
               class="form-control"
               required>
      </div>
      <div class="form-group">
        <label class="control-label">Дата окончания</label>
        <input type="date"
               formControlName="endDate"
               class="form-control">
      </div>
    </div>
    <div class="form-footer flex-center-middle">
      <button type="button"
              class="btn btn-default"
              (click)="hideWrapper($event)">Назад</button>
      <button type="submit"
              class="btn btn-primary mleft20">Принять</button>
    </div>
  </form>
</div>

<div class="form-wrapper wrapper-edit-recipe flex"
     style="display: none"
     (click)="hideWrapper($event)">
  <form [formGroup]="recipeEditForm"
        (submit)="editRecipe(recipeEditForm.value)"
        class="form jumbotron col-xs-12 col-sm-8 col-md-6 col-lg-4"
        ngNativeValidate>
    <div class="form-header">
      <h3>Изменить рецепт</h3>
    </div>
    <div class="form-body">
      <div class="form-group">
        <label class="control-label">Лекарство</label>
        <input type="text"
               formControlName="medicineName"
               class="form-control" required>
      </div>
      <div class="form-group">
        <label class="control-label">Употребление</label>
        <input type="text"
               formControlName="dosage"
               class="form-control">
      </div>
      <div class="form-group">
        <label class="control-label">Дата выдачи</label>
        <input type="date"
               formControlName="issueDate"
               class="form-control" required>
      </div>
      <div class="form-group">
        <label class="control-label">Годен до</label>
        <input type="date"
               formControlName="expireDate"
               class="form-control" required>
      </div>
    </div>
    <div class="form-footer flex-center-middle">
      <button type="button"
              class="btn btn-default"
              (click)="hideWrapper($event)">Назад</button>
      <button type="submit"
              class="btn btn-success mleft20">Принять</button>
    </div>
  </form>
</div>
<div class="form-wrapper wrapper-delete-recipe flex"
     style="display: none"
     (click)="hideWrapper($event)">
  <div class="form">
    <div class="form-header">
      <h3>Подтверждение удаления</h3>
    </div>
    <div class="form-body">
      <p>Вы уверены?</p>
    </div>
    <div class="form-footer flex-center-middle">
      <button type="button"
              class="btn btn-default"
              (click)="hideWrapper($event)">Нет</button>
      <button type="submit"
              class="btn btn-danger mleft20"
              (click)="deleteRecipe()">Да</button>
    </div>
  </div>
</div>

<div class="container history" *ngIf="patient">
  <h2>Просмотр</h2>
  <div>
    <ul class="nav nav-tabs tabs">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab"
           href="#diseases" (click)="getDiseases()">История болезней</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab"
           href="#procedures" (click)="getProcedures()">Процедуры</a>
      </li>
    </ul>
    <div class="tab-content mtop40">
      <div class="tab-pane fade" id="diseases">
        <div class="flex-center-middle flex-column" *ngIf="diseases.length == 0">
          <p class="no-content" >
            Список болезней пуст...
          </p>
          <button class="btn btn-primary mtop20"
                  (click)="showAddDisease()">Добавить</button>
        </div>
        <div *ngIf="diseases.length > 0" class="tab-grid">
          <div class="tab-header">
            <p>Всего: {{diseases.length}}</p>
            <button class="btn btn-primary mleft20"
                    (click)="showAddDisease()">Добавить</button>
          </div>
          <div class="tab-grid-item-wrapper" *ngFor="let disease of diseases; let i = index">
            <div class="tab-grid-item col-xs-12 col-sm-6 col-md-4"
                 (click)="showDisease(disease, $event)">
              <div>
                <h3>{{i + 1}}. {{disease.diseaseName}}</h3>
                <p><strong>Начало:</strong></p>
                <p>{{dateString(disease.startDate)}}</p>
                <p><strong>Конец:</strong></p>
                <p>{{dateString(disease.endDate)}}</p>
                <a routerLink="/dashboard">
                  {{disease.patient.firstName}} {{disease.patient.lastName}}
                </a>
                <div class="flex mtop20 btn-toolbar">
                  <button class="btn btn-sm btn-primary"
                          (click)="showEditDisease($event)">Изменить</button>
                  <button class="btn btn-sm btn-danger"
                          (click)="showDeleteDisease($event)">Удалить</button>
                </div>
              </div>
            </div>
            <div class="form-wrapper wrapper-disease flex"
                 style="display: none"
                 (click)="hideWrapper($event)">
              <div class="form jumbotron col-xs-12 col-sm-8 col-md-7 col-lg-5">
                <div class="form-header">
                  <h3>{{disease.diseaseName}}</h3>
                </div>
                <div class="form-body">
                  <dl class="list-unstyled dl-horizontal">
                    <dt>Описание болезни</dt>
                    <dd>{{disease.diseaseDescription}}</dd>
                    <dt>Код болезни</dt>
                    <dd>{{disease.diseaseCode}}</dd>
                    <dt>Класс болезни</dt>
                    <dd>{{disease.diseaseClass}}</dd>
                  </dl>
                  <hr>
                  <h4>Рецепты</h4>
                  <div class="flex-middle">
                    <p style="margin: 0;">Всего: {{recipes.length}}</p>
                    <button class="btn btn-sm btn-primary mleft20"
                            (click)="showAddRecipe($event)">Добавить</button>
                  </div>
                  <div *ngIf="recipes" class="recipes">
                    <div *ngFor="let recipe of recipes" class="recipe-item">
                      <dl class="list-unstyled dl-horizontal">
                        <dt>Лекарство</dt>
                        <dd>{{recipe.medicineName}}</dd>
                        <dt>Употребление</dt>
                        <dd>{{recipe.dosage}}</dd>
                        <dt>Дата выдачи</dt>
                        <dd>{{dateString(recipe.issueDate)}}</dd>
                        <dt>Годен до</dt>
                        <dd>{{dateString(recipe.expireDate)}}</dd>
                      </dl>
                      <div class="flex">
                        <button class="btn btn-sm btn-primary"
                                (click)="showEditRecipe(recipe)">Изменить</button>
                        <button class="btn btn-sm btn-danger"
                                (click)="showDeleteRecipe(recipe)">Удалить</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-footer flex-center-middle">
                  <button type="button"
                          class="btn btn-default"
                          (click)="hideWrapper($event)">Назад</button>
                </div>
              </div>
            </div>
            <div class="form-wrapper wrapper-edit-disease flex"
                 style="display: none"
                 (click)="hideWrapper($event)">
              <form (submit)="editDisease(disease, diseaseEditForm.value)"
                    [formGroup]="diseaseEditForm"
                    class="form jumbotron col-xs-12 col-sm-8 col-md-6 col-lg-4"
                    ngNativeValidate>
                <div class="form-header">
                  <h2>Изменить болезнь</h2>
                </div>
                <div class="form-body">
                  <div class="form-group">
                    <label class="control-label">Название болезни</label>
                    <input type="text"
                           formControlName="diseaseName"
                           class="form-control"
                           required>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Описание болезни</label>
                    <input type="text"
                           formControlName="diseaseDescription"
                           class="form-control"
                           required>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Код болезни</label>
                    <input type="text"
                           formControlName="diseaseCode"
                           class="form-control"
                           required>
                  </div>
                  <div class="form-group">
                    <label  class="control-label">Класс болезни</label>
                    <input type="text"
                           formControlName="diseaseClass"
                           class="form-control"
                           required>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Дата начала</label>
                    <input type="date"
                           formControlName="startDate"
                           class="form-control"
                           required>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Дата окончания</label>
                    <input type="date"
                           formControlName="endDate"
                           class="form-control">
                  </div>
                </div>
                <div class="form-footer flex-center-middle">
                  <button type="button"
                          class="btn btn-default"
                          (click)="hideWrapper($event)">Назад</button>
                  <button type="submit"
                          class="btn btn-success mleft20">Принять</button>
                </div>
              </form>
            </div>
            <div class="form-wrapper wrapper-delete-disease flex"
                 style="display: none"
                 (click)="hideWrapper($event)">
              <div class="form">
                <div class="form-header">
                  <h2>Подтверждение удаления</h2>
                </div>
                <div class="form-body">
                  <p>Вы уверены?</p>
                </div>
                <div class="form-footer flex-center-middle">
                  <button type="button"
                          class="btn btn-default"
                          (click)="hideWrapper($event)">Нет</button>
                  <button type="submit"
                          class="btn btn-danger mleft20"
                          (click)="deleteDisease(disease)">Да</button>
                </div>
              </div>
            </div>
            <div class="form-wrapper wrapper-add-recipe flex"
                 style="display: none"
                 (click)="hideWrapper($event)">
              <form [formGroup]="recipeAddForm"
                    (submit)="addRecipe(disease, recipeAddForm.value)"
                    class="form jumbotron col-xs-12 col-sm-8 col-md-6 col-lg-4"
                    ngNativeValidate>
                <div class="form-header">
                  <h2>Добавить рецепт</h2>
                </div>
                <div class="form-body">
                  <div class="form-group">
                    <label class="control-label">Лекарство</label>
                    <input type="text"
                           formControlName="medicineName"
                           class="form-control" required>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Употребление</label>
                    <input type="text"
                           formControlName="dosage"
                           class="form-control">
                  </div>
                  <div class="form-group">
                    <label class="control-label">Дата выдачи</label>
                    <input type="date"
                           formControlName="issueDate"
                           class="form-control" required>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Годен до</label>
                    <input type="date"
                           formControlName="expireDate"
                           class="form-control" required>
                  </div>
                </div>
                <div class="form-footer flex-center-middle">
                  <button type="button"
                          class="btn btn-default"
                          (click)="hideWrapper($event)">Назад</button>
                  <button type="submit"
                          class="btn btn-danger mleft20">Принять</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="procedures">
        <p class="no-content" *ngIf="procedures.length == 0">
          Список процедур пуст...
        </p>
        <div *ngIf="procedures.length > 0" class="tab-grid">
          <div class="tab-header">
            <p>Всего: {{procedures.length}}</p>
          </div>
          <div *ngFor="let procedure of procedures; let i = index"
               class="tab-grid-item col-xs-12 col-sm-6 col-md-4">
            <div>
              <h3>{{i + 1}}. {{procedure.procedureName}}</h3>
              <p><strong>Дата:</strong></p>
              <p>{{dateString(procedure.date)}}</p>
              <a routerLink="/dashboard">
                {{procedure.patient.firstName}} {{procedure.patient.lastName}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="message-popup alert alert-success">
  <h4></h4>
  <p></p>
</div>
