<div class="container flex-center">
  <div class="jumbotron col-xs-8">
    <p>admin admin</p>
    <form (submit)="login()">
      <div class="form-group">
        <label for="username" class="control-label">Username</label>
        <input type="text" id="username" name="username" class="form-control" [(ngModel)]="user.username">
      </div>
      <div class="form-group">
        <label for="password" class="control-label">Password</label>
        <input type="password" id="password" name="password" class="form-control" [(ngModel)]="user.password">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary form-control mtop20">Log In</button>
      </div>
    </form>
  </div>
</div>
