body {
  background-color: #fafafa;
}

/*flex*/
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-center-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
/*padding*/
.ptop20 {
  padding-top: 20px;
}
.pbottom20 {
  padding-bottom: 20px;
}
.nop {
  padding: 0;
}

/*margin*/
.mtop20 {
  margin-top: 20px;
}
.mtop40 {
  margin-top: 40px;
}
.mbottom20 {
  margin-bottom: 20px;
}
.mleft20 {
  margin-left: 20px;
}
.mright20 {
  margin-right: 20px;
}
.nom {
  margin: 0;
}

/*button*/
.btn {
  min-width: 120px;
}
.btn-default {
  background-color: #e4e4e4;
}
